/*.broken-link {
    color: rgb(228, 188, 188);
    background-color: darkred;
} /*temporary until pages are made */



* {
    box-sizing: border-box;
}

body {
   /* background-color: #CBC9AD; */
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZWJ4ZzY0MXZycGhxMWltc2ZxYzllMW42NWdiMGRuNTNtb2JsN3ByZiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/l378wcSfS7eXWQgla/giphy.gif");
    background-size: cover; 
}

.bio, .emaillist {
    border-radius: 15px;
}
#sylbox {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.bestfriends {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}



.rakdoshub {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: wavy;
    font-size: 60pt;
}

.teaser {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: wavy;
    font-size: 20pt;
    margin-top: -50px; 
    margin-bottom: 50px;
}

hr {
    height: 1pt;
    color: black;
    background-color: black;
    border-width:0;
    margin: auto;
    width: 75%;
    
}

.openingPhoto {
    display: block;
    margin: 20px auto 20px;
    padding: 1px;
    width: auto;
    border-radius: 3px;
    box-shadow: 0 0 3px 3px black;
}

.bio {
    min-height: 400px;
    width: 100%;
    border: 1px solid black;
    box-shadow: 5px 5px 5px;
    background-color: #a8750e;
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}

.biohead {
    text-align: center;
    font-family:'Coming Soon', 'Arial Narrow', Arial, sans-serif;
    text-decoration: wavy;
    font-weight: bold;
    font-size: 30pt;
    margin-top: -5px;
    margin-bottom: 0;

}

.rakdoswords {
    text-align: justify;
    text-indent: 2em;
    font-size: 1rem;
    font-weight: bold;
    line-height: 2;
    font-family:'Coming Soon', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0;
 

}

#bio-text {
    align-self: flex-start;
    padding: 10px 50px;
    flex-grow: 0.80;
}

.biophoto {
    max-height: 350px;
    border-radius: 3px;
    box-shadow: 0 0 3px 3px black;
    display: inline-block;
}

#bio-photo-section {
    padding-right: 20px;
}

.links {
    height: fit-content;
    width: 80%;
    background-color: #a8750e;
    border: 1px solid black;
    border-radius: 20px;
    margin-left:auto;
    margin-right:auto;
    margin-top:-35px;
    padding:auto;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
}

#email-link {
    scroll-behavior:smooth;
}

a {
   /* font-size: 18pt; */ /*turns out, vw is better for scaling to different viewports */
    font-size: 2vw;
    text-align: center;
    color: black;
}

a:hover {
    color:rgb(220, 145, 7);
}


.tnc {
     margin-left: unset;
    margin-right:unset;
    font-size: unset;
    text-align: unset;
}

.emaillist {
    min-height: 200px;
    width: 75%;
    border: 1px solid black;
    box-shadow: 5px 5px 5px;
    background-color: #a8750e;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
}

.emailask {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: wavy;
    font-size: 20pt;
}

#email-icon {
    width:auto;
    height: 150px;
}

form {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14pt;
    line-height: 1.5;
}

#email-form-text {
    padding-bottom: 5%;
}

.bestfriends {
    min-height: 400px;
    width: 100%;
    border: 1px solid black;
    box-shadow: 5px 5px 5px;
    background-color: #a8750e;
    margin-top: 0;
    margin-bottom: 30px;
    padding:1px;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-content:baseline;
    flex-wrap: wrap;
    border-top: none;
    overflow: auto;
 
    
}

#sylbox {
     height: 50px;
    width: 100%;
    border: 1px solid black;
    box-shadow: 5px 5px 5px;
    background-color: #a8750e;
    opacity: 100%;
    margin-top: 30px;
    margin-bottom: 0;
    padding:1px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: none;
}

.bestfriends img {
    width: auto;
    max-width: 100%;
    display:block;
    max-height: 300px;
    border-radius: 3px;
    box-shadow: 0 0 3px 3px black;
    margin: auto;

}

.bestfriends figcaption {
    text-align: center;
    margin-top: 25px;
    font-family:'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    font-size:20pt;

}

.playing-video {
    display: flex;
    justify-content: center; 
}
.playing-video iframe {
     border: 15px solid #a8750e;
     border-radius: 5px;
}

/******************** MOBILE DISPLAY ******************/

@media (max-width:600px) {
    .bio {
    flex-direction: column;
}
#email-icon {
    display:none;
}
.links a {
    font-size: 1rem;
}
.openingPhoto {
    max-width: 100%;
}
}
   
