* {
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body {
  background-color: #c18327;
}

.rakdoshub {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: wavy;
    font-size: 20pt;
}

hr {
    background-color: black;
    border: none;
    height: 1px;
    margin:none;
}

#photos {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-bottom:0;
    margin-top: 0;

}

#gallery {
    height: 100%;
    width: 100%;
    border: none;
    opacity: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-evenly;
}

#gallery img {
    margin: 10px;
}

a:hover {
    color: white;
}

a {
    color:black;
}


